/*navbar */
.header{
	padding: 0 0 10% 0;
}
.navbar-brand{
	background:#00E6E6;
	color: white;
	padding: 0 5px 0 0;
	margin: 0
	font-weight: bolder; 
}
.navbar{
	width: 100%;
}
.navbar-toggler{
	color: white;
	background-color: white;
}
.navbar li{
	
	font-weight: bold; 
	font-size: 15px;
	list-style: none;
}
.nav-item{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.nav-link{
	color: black;
}
.active::after{
    content: " ";
    height: 1px;
    width: 3vw;
    background: black;
    display: flex;
    margin-left: 2%;
    transform: translateY(6px);
}
@media(min-width: 1000px){
	.header{
		background-color: #222629;
	}
}

@media (min-width: 1000px){
.navbar-brand{
	background-color: #222629;
	color: yellow;
}
}

@media (min-width: 1000px){
ul li{
	background-color: #222629;
}
.nav-link{
	color: #6B6E70;
}
}


/*hello*/
.wrapper li{
	list-style: none;
	padding: 5px 0;
}
.wrapper{
	padding: 10px;
	
}
.wrapper p{
	border-radius: 20px 20px 20px 0;
	padding: 0 0 0 5px;
	width: 15%;
	color: #fff;
	font-weight: bold;
	background-color: #00E6E6;
}
.wrapper h4{
	padding: 0 0 20px;
}

.icon a{
	padding: 20px 10px;
	color: black;
}
@media (min-width: 1000px){
.wrapper{
	color: #6B6E70;
	}
.wrapper h1{
	color: white;
}
.wrapper p{
	background-color: #86C232;
	color: white;
}
.wrapper h4{
	color: #61892F;
}
.wrapper .fa{
	color: #474B4F;
}
}

/*about*/
.wrap{
	
	padding: 20% 0 8% 0;
}
.wrap p{
	padding:0 25px 0 0;
}
.wrap .btn{
	margin: 15px 0 0;
	border-radius: 25px;
	background-color: #00E6E6;
	color: #fff;
}
.wrap li{
	padding:2px 15px;
	border: 1px solid  #00E6E6;
	border-radius: 5px;
	margin: 10px 5px 0 0;
	background: rgba(248, 252, 253, 0.973);;
}

.outer{
	position: relative;
	background-color: #E6E6E6;
	border-radius: 300px;
	width: 300px;
	height: 300px;
	
}
.inner{
	position: relative;
	top: 15px;
	left: 15px;
	background-color: #CCCCCC;
	border-radius: 270px;
	width: 270px;
	height: 270px;
	margin: 0;
}
.main{
	position: absolute;
	left: 15px;
	top: 15px;
	background-color: black;
	border-radius: 240px;
	width: 240px;
	height: 240px;
}
@media (min-width: 1000px){
.outer{
	background-color: #474B4F;
}
.inner{
	background-color: #6B6E70;
}
.main{
	background-color: white;
}	
}
@media (min-width: 1000px) {
.wrap{
    background-color: #222629;
  }
.wrap h1{
	color: #86C232;
}
.wrap p{
	color: #6B6E70;
}
.wrap .btn{
	color:white; 
	background-color: #86C232 ;
}
.wrap li{
	background-color: #61892F;
	color: white;
	border: 1px solid  #86C232;
}
}


/*what*/
.bull{
	color: purple;

}
.code{
	color: red;
}

.ungroup{
	color: blue;
}


.what{
 padding: 15% 5% 0 5%;
}
.what-t{
	padding: 0 0 5px 0;
}
.what-box{
	padding:0px;
	margin: 20px 0px;
}

.what .box{
	margin: 20px 25px 0 0 ;
	padding: 10px;
  	box-shadow: 0px 4px 8px 4px #888888;
}
@media(min-width:1000px){
	.what .box{
		box-shadow: 0px 0px 8px 4px #474B4F;
	}
}
@media (min-width: 1000px){
.what{
	background-color: #222629;
}
.what-t h1{
	color: #86C232;
}	
.box{
	background-color: #222629;
}
.box h2{
	color: white;
}
.box p{
	color: #6B6E70;
}
}
@media (min-width: 1000px){
.box:hover{
	background-color: #8ccb34;
	cursor: pointer;
}
}

/*skills*/

.skills{
	padding: 20% 0 0 0;

	
}
.skills .content{
	margin-top: 50px;
}
.skills h3{
	padding: 0 0 10% 0;
}
@media (min-width: 1000px){
.skills{
	background-color: #222629;
	color: white;
}
.skills h1{
	color: #86C232;
}
.text{
	color: white;
}
}

/*exp*/
.white{
	color: #00E6E6;
}
@media(min-width: 1000px){
	.white{
	color: #61892F;	
	}
}
.wrap-text{
	margin-top: 0px;
	padding: 0;

}
.wrap-text{
	text-align: center;
}
.wrap-text .text{
	margin-top: 50px;
}
.text .text-box{
	margin: 40px 10px;
	padding: 20px;
  	box-shadow: 0px 4px 8px 4px #888888;
}
@media(min-width: 1000px){
.wrap-text{
	background-color: #222629;
	color: #86C232;
}
.text-box{
	background-color: #222629;
	color: white;
}
.text-box h4{
	color: white;
}
.text-box li{
	color: #6B6E70;
}
.text-box p{
	color: #6B6E70 ;
}
.text-box h6{
	color: #474B4F ;
}
}

@media(min-width:1000px){
	.text .text-box{
		box-shadow: 0px 0px 8px 4px #474B4F;
	}
}
.text-box{
	text-align: left;
}
@media (min-width: 1000px){
.text-box:hover{
	background-color: #8ccb34;
	cursor: pointer;
}
}
/*contact*/
.text-wrap{
	margin-top: 100px;
	padding: 10% 0 0 0 ;
}
.text-wraps{
	
	text-align: center;
}
.text-wraps h4{
	padding: 20px 0;
}

.t-text{
	margin: 40px 10px;
	padding: 10% 0;
  	box-shadow: 0px 4px 8px 4px #888888;
}

.t-text i{
 text-align: center;
}

.dot {
  height: 99px;
  width: 99px;
  padding: 40px 1px 0 0;
  background:transparent;
  border-radius: 50%;
  display: inline-block;
  border:1px solid #4edbc5;

}
@media (min-width: 1000px){
.text-wrap h1{
	color: #86C232;
}
.t-text i{
	color: #474B4F;
}
.t-text h4{
	color: white;
}
.t-text p{
	color: #6B6E70;
}
.t-text{
		box-shadow: 0px 0px 8px 4px #474B4F;
}
.dot {

  border:1px solid #61892F;
}
}
@media (min-width: 1000px){
.t-text:hover{
	background-color: #8ccb34;
	cursor: pointer;
}
}

/*progressbar*/
.progress-bar{
	height: 10px;
	background-color: #4edbc5;

}
.progress{
	height: 10px;
	background-color: gray;

}
.subject{
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	padding: 10px 0 0 0;
}
.percents{
	float: right;
	
}
@media (min-width: 1000px){
.progress-bar{
	background-color: #6B6E70;
}
.progress{
	background-color: #474B4F;
}
}

/*circular progress*/
.boxs{
	position: relative;
	top: 0;
	left: 100px;
	padding-top: 30px;
}
.boxs .percent{
	position: relative;0
	width: 100px;
	height: 100px;
}
.boxs .percent svg{
	position: relative;
	width: 100px;
	height: 100px;
}
.boxs .percent svg circle{
	width: 100px;
	height: 100px;
	fill: none;
	stroke-width:5;
	stroke:#000;
	transform: translate(5px, 5px);
	stroke-dasharray:260;
	stroke-dashoffset:260;
}
.boxs .percent svg circle:nth-child(1){
	stroke-dashoffset:0;
	stroke: gray;
}
.boxs .percent svg circle:nth-child(2){
	stroke: #00E6E6;
}
.boxs .percent .number{
	position: absolute;
	top: 27px;
	left: 25px;
	color: #000000;
}
.boxs .percent .number h2{
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}
.boxs .percent .number h2 span{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.boxs .text{
	position: absolute;
	top: 95px;
	transform: translateX(-12px);
	margin: 0;
	color: #000000;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
@media (min-width: 1000px)
{
	.boxs .percent .number{
		color: white;
	}
	.boxs .text{
		color: white;
	}
}
@media(min-width: 1000px){
	.boxs .percent .number h2:hover{
		font-size: 35px;
	}
}
@media (min-width: 1000px){
	.boxs .percent svg circle:nth-child(1){
		stroke: #6B6E70;
	}
	.boxs .percent svg circle:nth-child(2){
		stroke: #474B4F;
	}
}
.boxss{
	position: relative;
	float: right;
	right: 90px;
	bottom: 95px;
	transform: translateY(-175px);
	padding-top: 30px;
}
.boxss .percent{
	position: relative;
	width: 100px;
	height: 100px;
}
.boxss .percent svg{
	position: relative;
	width: 100px;
	height: 100px;
}
.boxss .percent svg circle{
	width: 100px;
	height: 100px;
	fill: none;
	stroke-width:5;
	stroke:#000;
	transform: translate(5px, 5px);
	stroke-dasharray:260;
	stroke-dashoffset:260;
}
.boxss .percent svg circle:nth-child(1){
	stroke-dashoffset:0;
	stroke: gray;
}
.boxss .percent svg circle:nth-child(2){
	stroke: #00E6E6;
}
.boxss .percent .number{
	position: absolute;
	top: 27px;
	left: 25px;
	color: #000000;
}
.boxss .percent .number h2{
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}
.boxss .percent .number h2 span{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.boxss .text{
	position: absolute;
	top: 95px;
	transform: translateX(5px);
	margin: 0;
	color: #000000;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
@media (min-width: 1000px)
{
	.boxss .percent .number{
		color: white;
	}
	.boxss .text{
		color: white;
	}
}
@media(min-width: 1000px){
	.boxss .percent .number h2:hover{
		font-size: 35px;
	}
}
@media (min-width: 1000px){
	.boxss .percent svg circle:nth-child(1){
		stroke: #6B6E70;
	}
	.boxss .percent svg circle:nth-child(2){
		stroke: #474B4F;
	}
}

/*body*/
@media(min-width: 1000px){
body{
	background-color: #222629;
}
}









/*footer*/
.txt{
	margin-top: 100px;
	padding: 0 0 90px 0 ;
}
.txt a{
	color: black;
	padding: 0 15px ;
}

@media (min-width: 1000px){
footer{
	background-color: #222629;
}

.txt h6{
	color: black;
}
}




